/*General*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

a:hover{
    color: lightseagreen;
}

body{
    background-color: white;
    display: flex;
}

/*Elementos login*/
.contenedor-landing{
    font-size: 20px;
    color: black;
    font-weight: 700;
    display: grid;
    grid-template-columns: 40% auto;
    background-color: white

}

.main-login{
    width: 100%;
}

#loginForm{
    padding: 10%;
}
#loginForm > *{
    height: 10%;
    font-size: 100%;
    margin-bottom: 5%;
}

#login-full-logo{
    width: 90%;
    height: 22%;
}

#img-login{
    width: 100%;
    height: 100%;
}

#btn-login{
    background-color: lightseagreen;
    width: 100%;
    padding: 3px;
    border-width: 0px;
    border-color: lightgray;
}

#result{
    color: red;
}

/*Elementos Landing page*/
.contenedor-header{
    padding: 0%;
    display: grid;
    grid-template-columns: 10% auto auto auto;
    background-color: lightgray;
    text-align: center;
}

#contenedor-header-home{
    background-color: lightseagreen;
    text-align: center;
}

.contenedor-header > *{
    padding: 20px;
}

/*Elementos Pacientes*/
.pacient-form{
  width: 30% ;
}

#btn-agg-pac{
  background-color: lightseagreen;
  width: 30% ;
  padding: 3px;
  border-width: 0px;
  border-color: lightgray;
}

/*Example for the side bar*/
/* Sidebar */
.sidebar {
  width: 200px;
  transition: width 0.3s;
  background-color:lightseagreen;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.sidebar .icon {
  font-size: 20px;
  min-width: 24px;
  text-align: center;
}

.sidebar .text {
  margin-left: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s, width 0.3s;
}

.sidebar.collapsed .text {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

/* Toggle button */
#toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

#toggle-btn svg {
  width: 24px;
  height: 24px;
  stroke: white; /* forces the stroke color */
}

/* Main content */
.content {
  flex: 1;
  padding: 20px;
}

/*CITAS*/

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto; 
}
.centrar-texto {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}
.contenedor-botones{
  display: flex;
  justify-content:flex-end ;
  gap: 1rem;
}
/*FORMULARIOS*/
.formulario {
    margin: auto;
    width: 90%;
    padding: 7rem;

}
.campo {
    display: row;
    flex-direction: column;
    margin-bottom: 2rem;
}
.campo__label {
    font-weight: 700;
    padding-right: 2rem;
    text-transform: uppercase;
}
.campo__field {
    height: 2rem;
    border: 1px solid #D4D4D4;
    border-radius: 0.5rem; 
    width: 70%; 
}
.campo__field--textarea {
    height: 12rem;
}
.boton{
    text-align:center;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 0.5rem; 
    cursor: pointer;
} 
.boton_agregar {
  background-color:#1E90FF;
}
.boton_cancelar {
  background-color:#CC0000;
}
